.jumbotron{
  background-color:yellow;
  color:black;
  margin-top: 50px;
}
/* .btn{
    color:secondary;
    background-color:primary;
} */
.card-hotel{
    flex: 1 200px;
    /* padding: 2px 0px 2px 0px; */
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-reserva{
    /* position:absolute; */
    width:100%;
    /* left:0;
    bottom:0; */
    border-radius: 0px;
}
.material-symbols-outlined{
    padding-right: 10px;;
}
footer{
    background-color:yellow;
    color:black;
    margin-bottom:0px;
    padding:10px,10px,10px,10px;
    margin-top:10px;
}

.tab-content{
    padding-top: 10px;
}
